# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
1. R
2. phython
* sql
* jave
* scala

Some of the popular languages that Data Scientists use are : 
1. Phython
2. R.
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numpy
3. ScuPy
4. Pandas

|Data Science Tools|
|---|
|Weka|
|Scrapy|
|Panda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers

In [17]:
x = (3*4)+5
print(x)

17

This will convert 200 minutes to hours by diving by 60

In [16]:
y = 200//60
print(y)

3

In [ ]:
## Juan Velasquez